@font-face {
	font-family: 'Roboto';
	src: url('../font/../font/Roboto-Regular-webfont.eot');
	src: url('../font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/Roboto-Regular-webfont.woff') format('woff'),
	url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
	url('../font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font:16px/32px "Roboto", Helvetica, Verdana, Arial, sans-serif;
	background:url('../images/bg.jpg') repeat;
}

/* navbar */
#navbar{
	border-radius: 0;
	background: #33383e;
	border-color: #2C3035
}

#navbar a{
	text-transform: uppercase;
	text-shadow:0 0 1px #F1F1F1;
}

#navbar .nav > li > a{
	color:#FFF;
}

#navbar .navbar-brand img{
	height: 100%;
}

@media (min-width: 768px) {
	#navbar{
		height:75px;
	}

	#nav-ct{
		height:100%;
	} 

	#main-nav{
		height:100%;
	}

	#navbar .nav{
		height:100%;
	}

	.navbar-brand,.navbar-nav > li > a {
		line-height: 74px;
		height: 74px;
		padding-top: 0;
	}
	
	#main-nav > ul > li > a{
		border-right: 1px solid #2C3035;
		font-size: 18px;
	}

	#main-nav > ul > li:first-child a{
		border-left: 1px solid #2C3035;
	}
	
	#main-nav > ul > li >a:hover{
		background: #428bca ;
	}

	#main-nav .active a{
		background-color:#24282D;
	}

	#navbar .dropdown-menu>li>a:hover, #navbar .dropdown-menu>li>a:focus{
		background: #428bca;
		color:#FFF;
	}

	#navbar .dropdown-menu>li>a{
		text-transform: none;
		padding: 10px 20px;
		color:#2C3035;
		font-size: 16px;
	}
}

/* END navbar*/