@font-face {
	font-family: 'Roboto';
	src: url('../font/../font/Roboto-Regular-webfont.eot');
	src: url('../font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/Roboto-Regular-webfont.woff') format('woff'),
	url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
	url('../font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font:16px/32px "Roboto", Helvetica, Verdana, Arial, sans-serif;
	background:url('../images/bg.jpg') repeat;
}

/* navbar */
#navbar{
	border-radius: 0;
	background: url('../images/nav-bg.jpg') repeat;
}

#navbar a{
	text-transform: uppercase;
}

#navbar .nav li a{
	font-weight: bold;
}

@media (min-width: 768px) {
	#navbar{
		height:75px;
	}

	#nav-ct{
		height:100%;
	} 

	#main-nav{
		height:100%;
	}

	#navbar .nav{
		height:100%;
	}

	.navbar-brand,.navbar-nav > li > a {
    line-height: 74px;
    height: 74px;
    padding-top: 0;
}
}

/* END navbar*/